:root {
    --color-primary: #27AE60;
    --color-primary-dark: #219451;
    --color-secondary: #EB5757;

    --gray-0: #F5F5F5;
    --gray-1: #E0E0E0;
    --gray-2: #828282;
    --gray-3: #333333;

    --text-size-0: 1.125rem;
    --text-size-1: 1rem;
    --text-size-2: 0.875rem;
    --text-size-3: 0.75rem;

    --text-weight-0: 700;
    --text-weight-1: 600;
    --text-weight-2: 500;
    --text-weight-3: 400;
}