.header {
    background-color: var(--gray-0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 1rem;

    div {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            border: none;
            background: none;
            color: #BDBDBD;

            span {
                background-color: var(--color-primary);
                color: #FFF;
                padding: 0.15rem 0.2rem;
                font-size: 0.9rem;
                border-radius: 0.5rem;

                position: relative;
                right: 8px;
                bottom: 20px;
            }
        }
    }
}